.plan {
  @apply bg-very-pale-blue w-full grid grid-cols-[1fr_2fr_1fr] py-4 rounded-xl h-[5.063rem] px-1;
  &-icon {
    @apply place-self-center ml-1;
  }

  &-period {
    @apply text-[0.875rem] h-full ml-3 mt-1;
    &-freq {
      @apply font-extrabold;
    }

    &-price {
      @apply font-medium text-desaturated-blue tracking-[0.019rem];
    }
  }

  &-change {
    @apply place-self-center text-bright-blue underline font-bold text-[0.813rem] ml-[-0.188rem] hover:no-underline hover:text-hover-blue cursor-pointer;
  }
}

@screen desktop {
  .plan {
    @apply grid-cols-[1fr_3fr_1fr] h-[6.125rem] w-[22.125rem];

    &-icon {
      place-self: center end;
    }

    &-period {
      @apply text-[1rem] pl-1.5 pt-1;
      place-self: center start;

      &-price {
        @apply font-medium text-desaturated-blue tracking-[0.019rem] pt-1;
      }
    }

    &-change {
      @apply text-[0.875rem];
      place-self: center self-start;
    }
  }
}
