.order-summary-card {
  @apply bg-white rounded-xl overflow-hidden w-full;
  width: 327px;
  height: 567px;

  .main {
    @apply flex flex-col space-y-5 items-center mx-[1.5rem] mt-10;
  }

  .heading {
    font-size: 22px;
    letter-spacing: 0;
  }

  .message {
    @apply text-desaturated-blue text-center;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
  }

  .plan {
    @apply bg-very-pale-blue w-full grid grid-cols-[1fr_2fr_1fr] py-4 rounded-xl;
    &-icon {
      @apply place-self-center;
    }
    &-period {
      @apply flex flex-col justify-between text-[14px] place-self-start justify-center h-full py-1 pl-2;
      &-freq {
        @apply text-[14px] font-extrabold;
      }

      &-price {
        @apply text-[13px] font-medium text-desaturated-blue;
      }
    }
    &-change {
      @apply place-self-center text-bright-blue underline font-bold text-[14px];
    }
  }

  .proceed-btn {
    @apply bg-bright-blue text-white w-full rounded-xl h-12 shadow shadow-lg shadow-pale-blue;
  }

  .cancel-btn {
    @apply font-extrabold text-[15px] text-desaturated-blue;
  }
}

@screen desktop {
  .order-summary-card {
    width: 450px;
    height: 697px;

    .main {
      @apply mx-12 mt-10 space-y-8;
    }

    .heading {
      font-size: 26px;
      line-height: 26px;
      font-weight: 500;
      letter-spacing: 0;
    }

    .message {
      @apply w-[20rem];
      font-size: 16px;
      line-height: 26px;
    }

    .plan {
      @apply bg-very-pale-blue w-full grid grid-cols-[1fr_3fr_1fr] py-4 rounded-xl;
      &-icon {
        @apply place-self-center;
      }
      &-period {
        @apply flex flex-col justify-between text-[1rem] place-self-start pl-2;
        &-freq {
          @apply text-[1rem] font-extrabold;
        }

        &-price {
          @apply text-[1rem] font-medium text-desaturated-blue;
        }
      }
      &-change {
        @apply place-self-center text-bright-blue underline font-bold text-[14px];
      }
    }
  }
}
